.gauge-wrapper {
    display: inline-block;
    position: relative;
}

.gauge-arrow {
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -16px;
    transform-origin: 50% 75.5%;
}

.lamps-wrapper {
    text-align: center;
}

.led-box {
    height: 30px;
    width: 25%;
    margin: 10px 0;
    float: left;
}

.led-box p {
    font-size: 12px;
    text-align: center;
    margin: 1em;
}

.led-red {
    display:inline-block;
    margin: 10px;
    width: 24px;
    height: 24px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.off_led-red {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 -1px  0;
}

.led-yellow {
    display:inline-block;
    margin: 10px;
    width: 24px;
    height: 24px;
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}

.off_led-yellow {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
}

.led-green {
    display:inline-block;
    margin: 10px;
    width: 24px;
    height: 24px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.off_led-green {
    background-color: #2aa903;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 -1px 0;
}